.page {
  width: 100%;
  min-height: 100vh;
  padding: 3rem 1rem;
  transition: background-color 0.3s ease;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pomodoro {
  background-color: var(--background-color);
}

.short_break {
  background-color: var(--background-color-short-break);
}

.long_break {
  background-color: var(--background-color-long-break);
}

.page > * {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chartWrapper {
  background: var(--color-surface-default);
  border-radius: var(--radius-md);
}
