.page {
  width: 100%;
  min-height: 100vh;
  padding: 3rem 1rem;
  transition: background-color 0.3s ease;

  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pomodoro {
  background-color: #1f1f1f;
}

.short_break {
  background-color: #1e3a3a;
}

.long_break {
  background-color: #3a1e1e;
}

.page > * {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
