.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
}

.titleRow {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}
