.wrapper {
  position: relative;
  display: inline-block;
}

.ring {
  transform: rotate(-90deg);
}

.track {
  stroke: var(--color-border-muted);
  fill: none;
}

.progress {
  stroke: var(--text-color-pomodoro);
  fill: none;
  transition: stroke-dashoffset var(--transition-normal);
  stroke-linecap: round;
}

.centeredContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress {
  fill: none;
  transition: stroke-dashoffset var(--transition-normal);
  stroke-linecap: round;
  animation: pulse 3s ease-in-out infinite;
}
