.checkbox {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
  appearance: none;
  border-radius: var(--radius-sm);
  border: 2px solid var(--color-border-muted);
  display: inline-block;
  position: relative;
}

.checkbox:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: currentColor;
  border-radius: 2px;
  transform: translate(-50%, -50%);
}

.pomodoro {
  color: var(--text-color-pomodoro);
  background-color: var(--background-color-pomodoro);
}

.short_break {
  color: var(--text-color-short-break);
  background-color: var(--background-color-short-break);
}

.long_break {
  color: var(--text-color-long-break);
  background-color: var(--background-color-long-break);
}
