.checkbox {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
  appearance: none;
  border-radius: 0.25rem;
  border: 2px solid #aaa;
  display: inline-block;
  position: relative;
}

.checkbox:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: currentColor;
  border-radius: 2px;
  transform: translate(-50%, -50%);
}

.pomodoro {
  color: #ff4d4d;
  background-color: #2e2e2e;
}

.short_break {
  color: #48c4b3;
  background-color: #203b3a;
}

.long_break {
  color: #d17777;
  background-color: #3b2222;
}
